:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Tahoma, sans-serif;
  color: #210;
  background-color: #864;
}


a:link {
    color: dodgerblue;
    text-decoration: none;
}

a:visited {
    color: rebeccapurple;
}

a:hover {
    text-decoration: underline;
    color: orange;
}


#welcome-section {
    height: 100vh;
}

#navbar menu {
    display: inline-block;
}

#navbar menu li {
    display: inline-block;
    padding: 0;
    list-style-type: none;
    margin: 0 1rem;
}

body {
    display: grid;
    grid-template-rows: 5rem auto 10rem;
    grid-template-areas:
        "header"
        "content"
        "footer";
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#navbar, .container, #footer {
    box-sizing: border-box;
    padding: 1rem;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    background-color: #420;
    color: white;
}

.container {
    grid-area: content;
    width: 100%;
}

.jumbotron {
    display: flex;
    align-items: center;
}

#footer {
    display: flex;
    justify-content: center;
    background-color: #420;
    color: white;
    grid-area: footer;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 12rem;
  grid-gap: 1rem;
}

.project-tile {
  background-color: antiquewhite;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  color: #420;
}

.facts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background-color: #210;
  }

  .project-tile {
    background-color: #864;
    color: antiquewhite;
  }
}
